variables:
  buildContainerImage: 'mcr.microsoft.com/dotnet/sdk:10.0'
  projectName: Eiliko.Blazor.hCaptcha
  buildConfiguration: 'Release'

trigger:
- master

pool:
  name: 'Builders'
  demands: 
    - docker

stages:
  - stage: Build
    displayName: Build Nuget package
    jobs:
      - job: Build
        container:
          image: $(buildContainerImage)
        steps:
        - task: CmdLine@2
          displayName: 'Publish'
          inputs:
            script: 'dotnet publish $(projectName)'
        - task: CmdLine@2
          displayName: 'Pack'
          inputs:
            script: 'dotnet pack $(projectName).sln --output $(Build.ArtifactStagingDirectory)'
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Artifact'
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'

